# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
.env.*
!.env.example
*.env

# Distribution zip archives
*.zip

# Logs
*.log
**/logs/

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
